services:
  web:
    image: nginx
    ports:
      - 81:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www/html
  php-fpm:
    build: /home/dasha/projects/online-shop/docker
    volumes:
      - .:/var/www/html
  postgres:
    image: postgres:13
    volumes:
      - ./docker/postgres/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - 54322:5432




